In [1]:
import yfinance as yf

In [10]:
ticker = yf.Ticker('PETR4.SA')
df = ticker.history(period='1y')

In [11]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-14 00:00:00-03:00,19.191696,19.839398,19.072012,19.501467,66639500,0.0,0.0
2022-11-16 00:00:00-03:00,19.578908,19.790116,18.959367,19.114252,85549900,0.0,0.0
2022-11-17 00:00:00-03:00,19.008650,19.219857,18.691839,19.121294,101525800,0.0,0.0
2022-11-18 00:00:00-03:00,19.290259,19.431065,18.459511,18.797443,127683500,0.0,0.0
2022-11-21 00:00:00-03:00,19.093132,19.409942,18.339825,18.853764,164898100,0.0,0.0
...,...,...,...,...,...,...,...
2023-11-08 00:00:00-03:00,34.599998,34.799999,33.910000,34.169998,59742900,0.0,0.0
2023-11-09 00:00:00-03:00,34.500000,35.150002,34.360001,34.880001,56231100,0.0,0.0
2023-11-10 00:00:00-03:00,34.660000,35.060001,34.509998,34.720001,40004800,0.0,0.0
2023-11-13 00:00:00-03:00,34.680000,35.750000,34.669998,35.689999,44120000,0.0,0.0
2023-11-14 00:00:00-03:00,35.689999,36.240002,35.490002,36.180000,50888600,0.0,0.0

In [12]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-14 00:00:00-03:00,19.191696,19.839398,19.072012,19.501467,66639500,0.0,0.0
2022-11-16 00:00:00-03:00,19.578908,19.790116,18.959367,19.114252,85549900,0.0,0.0
2022-11-17 00:00:00-03:00,19.008650,19.219857,18.691839,19.121294,101525800,0.0,0.0
2022-11-18 00:00:00-03:00,19.290259,19.431065,18.459511,18.797443,127683500,0.0,0.0
2022-11-21 00:00:00-03:00,19.093132,19.409942,18.339825,18.853764,164898100,0.0,0.0

In [13]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,251.000000,251.000000,251.000000,251.000000,2.510000e+02,251.000000,251.0
mean,25.521485,25.901574,25.166647,25.556839,6.297404e+07,0.036901,0.0
std,6.043627,6.056422,6.031535,6.052973,3.101422e+07,0.309965,0.0
min,16.897585,17.790746,16.712516,17.275768,1.797710e+07,0.000000,0.0
25%,20.240894,20.727707,19.870756,20.261011,4.331920e+07,0.000000,0.0
50%,23.397536,23.668762,23.053987,23.298090,5.601660e+07,0.000000,0.0
75%,30.155513,30.568188,29.731670,30.218126,7.548995e+07,0.000000,0.0
max,38.689999,38.860001,37.919998,38.520000,3.195016e+08,3.348900,0.0